{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Reset Password 
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
        <h3>Reset Password</h3>
        <hr />
        <form action="" method="post" novalidate class="shadow p-5">
          {% csrf_token %}
          {% for f in form %}
            <div class="form-group">
              {{ f.label_tag }}{{ f }}
              <small class="text-danger">{{ f.errors|striptags }}</small>
            </div>
          {% endfor %}
          <input type="submit" class="btn btn-primary my-3" value="Submit" />
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <small class="text-danger">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
